*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto mono', sans-serif;
    background: #ABD2FA;
}

h1 {
    font-size: clamp(32px, 4vw, 200px);
}

.title {
    font-size: clamp(20px, 2vw, 48px);
}

.form {
    padding: 20px;
    margin-top: 100px;
    height: auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FEE026;
    border: 7px solid black;
    box-shadow: 15px 15px 0px 0px #CB8589;
}

.form > div  {
    gap: 20px;
    padding: 20px;
}

input {
    font-size: 20px;
}

input[type="radio"]
{
  appearance: none;
}


input[type="radio"] + label
{
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  font-size: 20px;
}

input[type="radio"] + label::before
{
  content: "";
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border: 3px solid #CB8589;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after
{
  content: "";
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border: 2px solid #CB8589;
  background: #CB8589;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after
{
  opacity: 1;
}

.input-text {
    display: flex; 
}


input[type=text], button {
    padding: 10px 20px;
    outline: none;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px #CB8589;
    transition: all 0.3s ease-out;
    background: #fff;
}

input[type=text]:hover {
    box-shadow: 0px 0px 0px 0px #CB8589;
}
input[type=text]::placeholder {
    color: #000;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 20px 0;
}

button:hover {
    box-shadow: 3px 3px 0px 0px #CB8589;
}
button:active {
    box-shadow: 0px 0px 0px 0px #CB8589;
}



.gender, .activity {
    display: flex;
}

@media screen and (max-width:1000px) {
    .input-text {
        flex-direction: column;
    }
}